body {
    font-family: Poppins, sans-serif;
    background: #eef2f7;
    margin: 0;
    padding: 0;
}

.container {
    width: 95%;
    max-width: 420px;
    margin: 70px auto;
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
}

input, button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

button {
    background: #306bff;
    color: white;
    border: none;
    font-weight: 600;
}

button:hover {
    background: #1f4ed0;
}

h2 {
    color: #1f3ea3;
}

video, canvas {
    width: 100%;
    border-radius: 12px;
    margin-top: 10px;
}

#predictionText {
    font-size: 24px;
    margin-top: 10px;
    font-weight: 600;
    color: #306bff;
}
